.app-container{
    display: flex;
    min-height: 100vh;
}

.main-content{
    flex: 1;
    display: flex;
    flex-direction: column; /*navbar en haut, conten en bas*/
}

.page-content{
    flex: 1;
    padding: 2rem;
    background-color: #f3f5f9;

}